body {
    background-color: rgba(21, 20, 20, 0.719);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0px 0px 0px;
}

.header {
    background-color: rgb(183, 182, 200);
    color: rgb(6, 6, 6);
    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 1px 0px 1px 10px;
    border-radius: 15px 15px 0px 0px;
}
.contact-navigation{
    text-align: center;
    padding: 1px 0px 1px 0px;
    margin-top: 0px;
    color: black;
    background-color: rgb(133, 131, 148);
    border-radius: 0px 0px 10px 10px;
}
.navigation {
    text-align: center;

    ul {
        padding-left: 20px;
        padding: 5px 5px 5px 10px;
        text-align: right;
        list-style-type: none;
        color: black;
        text-align: right;
        font-size: 20px;
        margin: 0px;
        overflow: hidden;
        background-color: rgb(133, 131, 148);
        border-radius: 0px 0px 20px 20px;
        display: flex;
        gap: 4%;
        li{
            display: inline-block;
        }

        a {
            text-decoration: none;
            color: black;
            padding: 5px 5px;
            display: block;
        }
    }
    .li:hover a {
    background: #E1E8F0;
    color: rgb(198, 24, 24);
    border-radius: 6px;
}

}

.content {
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(183, 182, 200);
    margin-top: 5px;
    height:auto;
    overflow-y: auto;
    img{
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: gray 0px 4px 8px;
        }
    .profile {

        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
    }

    .professional-summary {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin: 5px 0px 0px 0px;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;
        gap: 20px;
        .profile-image {
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                flex: 1;
                align-items: center;
                justify-content: center;

            }
        }
    }

    .summary {
        text-align: justify;
        flex: 2;
    }

    .projects {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;

        button {
                margin: 10px;
                padding: 10px 20px;
                background-color: rgb(62, 61, 68);
                color: white;
                border: none;
                border-radius: 10px ;
                cursor: pointer;
                box-shadow: rgb(57, 56, 56) 0px 4px 8px;
        }
        img{
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: gray 0px 4px 8px;
            }
    }

    .skills {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;
    }
    .experience {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;
    }
    .research {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;
    }
    .contact {
        background-color: rgba(133, 131, 148, 0.382);
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        opacity: 0.9;
        a{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


    }
}
.contact-content{
    border-radius: 15px 15px 0px 0px;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(183, 182, 200);
    margin-top: 5px;
    height: 600px;
    overflow-y: auto;
    a{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    img{
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
    }
}
.blog-content{
    border-radius: 15px 15px 0px 0px;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(183, 182, 200);
    margin-top: 5px;
    height: auto;
    overflow-y: auto;
    img{
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: gray 0px 4px 8px;
            }
}
.footer {
    background-color: rgba(62, 61, 68, 0);
    color: rgb(6, 6, 6);
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 0px;
    text-align: center;

}